:root {
  --color-dark: #222222;
  --color-red: #FF3C3C;
  --color-white: #FFFFFF;
  --font-primary: 'Mulish', sans-serif;
  --font-secondary: 'Oswald', sans-serif;
}

*, 
*::after, 
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400; /* Mulish Regular */
  color: var(--color-dark);
}

h1, h2, h3 {
  font-family: var(--font-secondary);
  font-weight: 400; /* Oswald Regular */
}

h1 {
  font-size: 7.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.container-out {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1400px;
}

/* ------------ button ------------ */
.button {
  background-color: var(--color-dark);
  border: none;
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1.125rem 1.25rem;
  min-width: 12.5rem;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.button:hover {
  background-color: var(--color-red);
  color: var(--color-dark);
}

/* ------------ header ------------ */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark);
  padding: 18px;
  color: var(--color-white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

/* ------------ logo ------------ */

.logo {
  display: block;
  padding: 2px;
}

.logo__img {
  width: 20px;
  height: 20px;
  fill: var(--color-red);
  transition: fill 0.3s ease-in;
}

.logo__img:hover {
  fill: var(--color-white);
}


/* ------------ nav ------------ */
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  padding: 0 1.3rem;
  cursor: pointer;
}

.nav__item:last-child {
  padding-right: 0;
}

.nav__link {
  font-family: var(--font-secondary);
  font-weight: 400; /* Oswald Regular */
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in;
}

.nav__item:hover .nav__link {
  color: var(--color-red);
}

/* ------------ section ------------ */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.75rem 1.25rem;
}

.section--dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}

/* ------------ hero ------------ */
.hero-out {
  padding-top: 3.5rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  min-height: 46.35rem;
  width: 100%;
  gap: 2.5rem;
}

.hero__side {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 2px;
}

.hero__note {
  padding-top: 0.75rem;
}

.hero__year {
  padding-bottom: 0.75rem;
}

.hero__year, 
.hero__note {
  background-color: var(--color-dark);
}

.hero__year::before {
  position: absolute;
  content: '';
  display: block;
  background-color: var(--color-white);
  right: 50%;
  height: 100%;
  width: 1px;
  z-index: -1;
}

.hero__content {
  display: flex;
  flex-direction: column;
  min-width: 46.25rem;
  padding: 5.75rem 0.7rem 0;
}

.hero__stats {
  display: flex;
  gap: 3.75rem;
  margin: 0;
  margin-bottom: 2.7rem;
}

.hero__stats-item {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 1.688rem;
}

.hero__stats-number {
  position: relative;
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
}

.hero__stats-number::before {
  content: '+';
  position: absolute;
  left: -1.688rem;
}

.hero__title {
  font-weight: 300;
  line-height: 8.25rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2.5rem;
}

.hero__subtitle {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  margin: 0;
}

.hero__scroll {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;

}

.hero__scroll-container {
  display: flex;
  gap: 0.45rem;
  cursor: pointer;
  padding-top: 1.25rem;
}

.hero__scroll-container:hover .hero__scroll-link,
.hero__scroll-container:hover .hero__scroll-arrow {
  color: var(--color-red);
  
  stroke: var(--color-red);
}

.hero__scroll-link {
  text-decoration: none;
  color: var(--color-white);
  line-height: 1.5rem;
  transition: color 0.3s ease-in;
}

.hero__scroll-arrow {
  stroke: var(--color-white);
  transition: stroke 0.3s ease-in;
}

.hero__images {
  display: flex;
  margin: 0;
  gap: 2.5rem;
}

.hero__second-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.hero__last-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
}

.hero__intro {
  max-width: 13.75rem;
  text-align: right;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* ------------ about ------------ */
.about-out {
  padding-bottom: 1.3rem;
}

.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2.5rem;
  justify-content: space-between;
}

.about__title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.5rem;
}

.about__text {
  max-width: 440px;
  margin: 0;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

.about__text--end {
  padding-top: 0.2rem;
}

.about__picture {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden; 
  margin-bottom: 2.3rem;
}

.about__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ------------ price ------------ */
.price {
  width: 100%;
  line-height: 2.5rem;
}

.price__title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.2rem;
}

.price__text {
  margin: 0;
  margin-bottom: 2rem;
}

.price__flex {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: stretch;
}

.price__card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 20rem;
  min-height:  31.25rem;
  border: 1px solid var(--color-dark);
  cursor: pointer;
  transition: border-color 0.3s ease-in;
}

.price__card:hover {
  border-color: var(--color-red);
}

.price__plan {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.8rem;
}

.price__features {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 0.2rem;
  padding: 0;
  list-style-type: none;
  gap: 4px;
}

.price__features-item {
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 0.7rem;
}

.price__features-item::before {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--color-dark);
  width: 6px;
  height: 6px;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.price__number {
  margin: 0;
  font-family: var(--font-secondary);
}

.price__button-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.price__note {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  margin-bottom: 0.65rem;
}

.price__button {
  width: 100%;
}

.price__card:hover .price__button {
  background-color: var(--color-red);
  color: var(--color-dark);
}

/* ------------ faq ------------ */
.faq-out {
  padding-top: 3.5rem;
}

.faq {
  display: grid;
  width: 100%;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: stretch;
}

.faq__title {
  margin: 0;
  margin-bottom: 0.65rem;
  text-transform: uppercase;
}

.faq__subtitle {
  margin: 0;
}

.faq-list {
  padding-top: 0.2rem;
}

.faq-list__item {
  border-bottom: 1px solid var(--color-white);
  cursor: pointer;
}

.faq__list .faq-list__item[open] {
  padding-bottom: 1.25rem;
}

.faq-list__title {
  position: relative;
  padding: 1.125rem 0 1.07rem;
  padding-right: 2.75rem;
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  list-style: none;
  transition: color 0.3s ease-in;
}

.faq-list__title::after,
.faq-list__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0.969rem;
  height: 1.5px;
  background-color: var(--color-white);
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in, transform 0.3s ease-in, opacity 0.3s ease-in;
}

.faq-list__title::before {
  transform: translateY(-50%) rotate(90deg);
}

.faq-list__item[open] .faq-list__title::before {
  opacity: 0;
}

.faq-list__item:hover .faq-list__title::after,
.faq-list__item:hover .faq-list__title::before {
  background-color: var(--color-red);
}

.faq-list__item:hover .faq-list__title {
  color: var(--color-red);
}

.faq-list__content {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}