:root {
  --color-dark: #222222;
  --color-grey: #989898;
  --color-red: #FF3C3C;
  --color-white: #FFFFFF;
  --font-primary: 'Mulish', sans-serif;
  --font-secondary: 'Oswald', sans-serif;
}

*, 
*::after, 
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400; /* Mulish Regular */
  color: var(--color-dark);
}

h1, h2, h3 {
  font-family: var(--font-secondary);
  font-weight: 400; /* Oswald Regular */
}

h1 {
  font-size: 7.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.container-out {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1400px;
}

/* ------------ button ------------ */
.button {
  background-color: var(--color-dark);
  border: none;
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1.125rem 1.25rem;
  min-width: 12.5rem;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}


/* ------------ header ------------ */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark);
  padding: 18px;
  color: var(--color-white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

/* ------------ logo ------------ */

.logo {
  display: block;
  padding: 2px;
}

.logo__img {
  width: 20px;
  height: 20px;
  fill: var(--color-red);
  transition: fill 0.3s ease-in;
}

/* ------------ nav ------------ */
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  padding: 0 1.3rem;
  cursor: pointer;
}

.nav__item:last-child {
  padding-right: 0;
}

.nav__link {
  font-family: var(--font-secondary);
  font-weight: 400; /* Oswald Regular */
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in;
}

.nav-button {
  display: none;
  width: 3.75rem;
  height: 3.75rem;
}

/* ------------ main ------------ */
.main {
  overflow-x: hidden;
}

/* ------------ section ------------ */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.75rem 1.25rem;
}

.section--dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}

/* ------------ hero ------------ */
.hero-out {
  padding-top: 3.5rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  min-height: 46.35rem;
  width: 100%;
  gap: 2.5rem;
}

.hero__side {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 2px;
}

.hero__note {
  padding-top: 0.75rem;
}

.hero__year {
  padding-bottom: 0.75rem;
}

.hero__year, 
.hero__note {
  background-color: var(--color-dark);
}

.hero__year::before {
  position: absolute;
  content: '';
  display: block;
  background-color: var(--color-white);
  right: 50%;
  height: 100%;
  width: 1px;
  z-index: -1;
}

.hero__content {
  display: flex;
  flex-direction: column;
  min-width: 46.25rem;
  padding: 5.75rem 0.7rem 0;
}

.hero__stats {
  display: flex;
  gap: 3.75rem;
  margin: 0;
  margin-bottom: 2.7rem;
}

.hero__stats-item {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 1.688rem;
}

.hero__stats-number {
  position: relative;
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
}

.hero__stats-number::before {
  content: '+';
  position: absolute;
  left: -1.688rem;
}

.hero__title {
  font-weight: 300;
  line-height: 8.25rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2.5rem;
}

.hero__subtitle {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  margin: 0;
}

.hero__scroll {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;

}

.hero__scroll-container {
  display: flex;
  gap: 0.45rem;
  cursor: pointer;
  padding-top: 1.25rem;
}

.hero__scroll-link {
  text-decoration: none;
  color: var(--color-white);
  line-height: 1.5rem;
  transition: color 0.3s ease-in;
}

.hero__scroll-arrow {
  stroke: var(--color-white);
  transition: stroke 0.3s ease-in;
}

.hero__images {
  display: flex;
  margin: 0;
  gap: 2.5rem;
}

.hero__second-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.hero__last-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
}

.hero__intro {
  max-width: 13.75rem;
  text-align: right;
  font-size: 1rem;
  line-height: 1.5rem;
}

.hero__picture {
  display: block;
  width: 100%;
  overflow: hidden;
}

.hero__picture--1 {
  width: 220px;
  height: 220px;
}

.hero__picture--2 {
  width: 280px;
  height: 374px;
}

.hero__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ------------ about ------------ */
.about-out {
  padding-bottom: 1.3rem;
}

.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2.5rem;
  justify-content: space-between;
}

.about__title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.5rem;
}

.about__text {
  max-width: 440px;
  margin: 0;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

.about__text--end {
  padding-top: 0.2rem;
}

.about__picture {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden; 
  margin-bottom: 2.3rem;
}

.about__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ------------ portfolio ------------ */
.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
  margin-bottom: 0.7rem;
}

.portfolio__subtitle {
  max-width: 22.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  margin-bottom: 2.5rem;
}

/* ------------ slider ------------ */
.slider-wrapper {
  position: relative;
  width: 100%;
  height: 654px;
}

.slider {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 20px;
  width: 100%;
  height: 100%;
  transform: translateX(-88.6%);
}

.slider__item {
  display: block;
  overflow: hidden; 
  flex-shrink: 0; 
}

.slider__item--top {
  align-self: flex-start;
}

.slider__item--bottom {
  align-self: flex-end;
}

.slider__item--center-offset {
  align-self: center;
  margin-bottom: 38px;
}

.slider__item--center {
  align-self: center;
}

.slider__item--big {
  width: 400px;
  height: 534px;
}

.slider__item--medium {
  width: 280px;
  height: 374px;
}

.slider__item--small {
  width: 220px;
  height: 220px;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ------------ price ------------ */
.price {
  width: 100%;
  line-height: 2.5rem;
}

.price__title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.2rem;
}

.price__text {
  margin: 0;
  margin-bottom: 2rem;
}

.price__flex {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: stretch;
}

.price__card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 20rem;
  min-height:  31.25rem;
  border: 1px solid var(--color-dark);
  cursor: pointer;
  transition: border-color 0.3s ease-in;
}


.price__plan {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.8rem;
}

.price__features {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 0.2rem;
  padding: 0;
  list-style-type: none;
  gap: 4px;
}

.price__features-item {
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 0.7rem;
}

.price__features-item::before {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--color-dark);
  width: 6px;
  height: 6px;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.price__number {
  margin: 0;
  font-family: var(--font-secondary);
}

.price__button-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.price__note {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  margin-bottom: 0.65rem;
}

.price__button {
  width: 100%;
}

/* ------------ faq ------------ */
.faq-out {
  padding-top: 3.5rem;
}

.faq {
  display: grid;
  width: 100%;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: stretch;
}

.faq__title {
  margin: 0;
  margin-bottom: 0.65rem;
  text-transform: uppercase;
}

.faq__subtitle {
  margin: 0;
}

.faq-list {
  padding-top: 0.2rem;
}

.faq-list__item {
  border-bottom: 1px solid var(--color-white);
  cursor: pointer;
}

.faq__list .faq-list__item[open] {
  padding-bottom: 1.25rem;
}

.faq-list__title {
  position: relative;
  padding: 1.125rem 0 1.07rem;
  padding-right: 2.75rem;
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  list-style: none;
  transition: color 0.3s ease-in;
}

.faq-list__title::after,
.faq-list__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0.969rem;
  height: 1.5px;
  background-color: var(--color-white);
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in, transform 0.3s ease-in, opacity 0.3s ease-in;
}

.faq-list__title::before {
  transform: translateY(-50%) rotate(90deg);
}

.faq-list__item[open] .faq-list__title::before {
  opacity: 0;
}

.faq-list__content {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* ------------ footer ------------ */

.footer-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2.5rem 1rem 1.1rem;
}

.footer__title {
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1.3rem;
}

.footer__form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer__input {
  width: 100%;
  max-width: 23.775rem;
  padding: 0.95rem 0.725rem 1rem;
  border: 1px solid var(--color-dark);
  border-radius: 0;
  font-family: var(--font-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.3s ease-in;
}

.footer__input:focus,
.footer__input:focus-visible {
  border-color: var(--color-red);
}

.footer__button {
  border: 1px solid var(--color-dark);
}

.footer__bottom {
  padding: 1.25rem;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-nav__item {
  padding: 1.27rem;
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-secondary);
  line-height: 1.25rem;
  transition: color 0.3s ease-in;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 915px) {
  .nav {
    display: none;
  }

  .nav-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
  .nav-button::before,
  .nav-button::after {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--color-white);
    height: 2px;
  }
  .nav-button::before {
    width: 12px;
    left: 1.75rem;
    top: 1.55rem;
  }
  .nav-button::after {
    width: 20px;
    left: 1.25rem;
    top: 2.05rem;
  }

  .hero {
    position: relative;
    min-height: auto;
    min-height: 39.9rem;
    gap: 0;
  }

  .hero__side {
    position: absolute;
    height: 100%;
  }

  .hero__content {
    flex-direction: column;
    min-width: auto;
    padding-left: 5rem;
    padding-right: 0;
  }

  .hero__second-col {
    display: none;
  }

  .hero__title {
    font-size: 4.25rem;
    line-height: 5rem;
  }

  .hero__picture--2 {
    width: 220px;
    height: 294px;
  }

  .about-out {
    padding-bottom: 1.25rem;
  }

  .about {
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 0;
  }

  .about__text {
    max-width: 100%;
    margin-bottom: 2.5rem;
  }

  .about__col--last .about__picture {
    display: none;
  }

  .slider {
    transform: translateX(-216.5%);
  }

  .portfolio-out {
    padding-bottom: 3.76rem;
  }

  .price__flex {
    gap: 1.25rem;
    padding: 0 2.1rem;
  }

  .faq {
    display: flex;
    flex-direction: column;
  }

  .faq-list {
    padding-right: 0.3rem;
  }

  .footer__top {
    padding: 2.45rem 1.35rem 1.1rem;
  }
}

@media (max-width: 400px) {
  .hero {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .hero__side {
    display: none;
  }

  .hero-out {
    padding-top: 3rem;
  }

  .hero__content {
    padding: 0;
  }

  .hero__title {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .hero__stats {
      gap: 3.8rem;
  }

  .hero__scroll {
    display: none;
  }

  .hero__stats-item {
    flex-shrink: 0;
  }

  .hero__subtitle {
    margin-bottom: 1.25rem;
  }

  .hero__picture--2 {
    margin-bottom: 3.75rem;
  }

  .slider {
      transform: translateX(-520.5%);
  }

  .price__title {
    margin-bottom: 0.8rem;
  }

  .price__text {
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .price__flex {
    padding: 0 0.6rem;
  }

  .faq-out {
    padding-top: 3.4rem;
  }

  .faq {
    gap: 2.7rem;
  }

  .faq__title {
    margin-bottom: 0.65rem;
    line-height: 2.75rem;
  }

  .footer__top {
    padding: 2.45rem 1.1rem 1.2rem;
  }

  .footer__form {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__input {
    padding: 0.95rem 0.725rem 1.1rem;
  }

  .footer__button {
    width: 100%;
  }

  .footer__bottom {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--color-red);
    color: var(--color-dark);
  }

  .price__card:hover {
    border-color: var(--color-red);
  }

  .logo__img:hover {
    fill: var(--color-white);
  }

  .nav__item:hover .nav__link {
    color: var(--color-red);
  }

  .hero__scroll-container:hover .hero__scroll-link,
  .hero__scroll-container:hover .hero__scroll-arrow {
    color: var(--color-red);
    
    stroke: var(--color-red);
  }

  .price__card:hover .price__button {
    background-color: var(--color-red);
    color: var(--color-dark);
  }

  .faq-list__item:hover .faq-list__title::after,
  .faq-list__item:hover .faq-list__title::before {
    background-color: var(--color-red);
  }

  .faq-list__item:hover .faq-list__title {
    color: var(--color-red);
  }
  
  .footer__input:hover {
    border-color: var(--color-red);
  }
  .footer__button:hover {
    border-color: var(--color-red);
  }

  .footer-nav__item:hover {
    color: var(--color-red);
  }

}